.sulphur-point-light {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sulphur-point-regular {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sulphur-point-bold {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 700;
  font-style: normal;
}


:root {
  --primary-color: ;
  --secondary-color: ;
  --primary-text-color: ;
  --secondary-text-color: ;
  --primary-font-family: ;
  --secondary-font-family: ;
}


body {

}