* {
  /* border: 1px solid gray; */
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: 100;
}

body {
margin: 25px;
}

header {
}


.add-game-form {
  width: 500px;
}

input {
  width: 50%;
  text-indent: 10px;
}

select {
  width: 50.5%
}

.initial-stock {
  width: 50px;
}

button {
  border: none;
  border-radius: 3px;
}

form button {
  height: 20px;
  width: 75px;
}

.reset-button {
  background: red;
}

.add-game-button {
  background: green;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 10%;
}

thead th:nth-child(7) {
  width: 10%;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: rgb(226, 226, 226);
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

th, td {
  text-align: center;
  border: 1px solid gray;
}

.decrease-stock, .increase-stock {
 padding: 0 5px;
 background: red;
}

td span {
  margin: 0 10px;
}

.borrow-button {
  cursor: pointer;
}